# Conditional Statement

In [14]:
#conditional statement ----> if,elif,else

a=10
b=10
if b>a:
    #indentation
    print("b is greater than a")
elif b==a:
    print("b is equal to a")
else:
    print("b is lesser than a")

b is equal to a

In [15]:
a=10
b=20
c=30
if not(b>a and a<c):
    print("b is greater than a and c is lesser than b")
else:
    print("not true")

not true

In [21]:
#nested if else
a= int (input("enter a number "))
print (a)

if a>0:
    if a%2==0:
        print("a is even ")
    else:
        print("a is odd")
else:
    print("a is negative")

21
a is odd

In [22]:
#is year is leap or not?
a = int(input("enter a year"))
print(a)
if a%4==0:
    print("year is leap year")
else:
    print("year is not a leap year")

2004
year is leap year

# Loops

In [39]:
#two loops in python--> for and while
#for loop is iterating over sequence(list,tuple,dictionary)
#string
#for i in "hello":
    #print(i,end=" ")

#list
#lst = ["red","yellow","blue"]
#for i in lst:
   # print(i)

#dictionary
dt = {
    "name":"Parul",
    "age":15,
    "hobby":"coding",
}

for i,y in dt.items():
    print(i,"=",y)

name = Parul
age = 15
hobby = coding

In [43]:
for i in range(10,12):
    print(i)

10
11

In [44]:
#nested for loop
lst1 = [1,2,3]
lst2 = ["red","yellow","blue"]
for i in lst1:
    for j in lst2:
        print(i,j)

1 red
1 yellow
1 blue
2 red
2 yellow
2 blue
3 red
3 yellow
3 blue

In [62]:
#break and continue
#for i in range(1,10):
    #if i==5:
        #break
        #continue
    #print(i)

lst =[2,3,4,5,]
lst1 =[]

for i in lst:
    lst1.append(i*i)
print(lst1)

[4, 9, 16, 25]

In [73]:
#while loop
i= 10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [3]:
#find the sum of numbers from 1 to 10 using while loop
i=1
sum = 0
while i<=10:
    sum +=i
    i+=1
    print(sum)

1
3
6
10
15
21
28
36
45
55